<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Foundation for Sites{% endblock %}</title>
{% block css %}
<link rel="stylesheet" href="/public/css/foundation.css">
<link rel="stylesheet" href="/public/icons/foundation-icons.css">
<link rel="stylesheet" href="/public/css/app.css">
{% endblock %}
</head>
<body>
{% block main %}{% endblock %}
{% block footer %}
<footer>
  <div class="callout primary ">
      <div class="text-center">          
          <p>
                      本站总访问量：0
            <i id="busuanzi_container_site_pv"><i id="busuanzi_value_site_pv"></i></i>次
          </p>
          <p>
            <span> Copyright ©<a href="/" rel="nofollow">Mash(Ma·sh).</a></span>
            <span> ICP备案:<a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/"> 京ICP备18022754号</a></span>
            <span> Powered by<a rel="nofollow" target="_blank" href="http://symfony.com/doc/current/index.html"> Symonfy4</a></span>
          </p>
        </div>
  </div>
</footer>
{% endblock %}
{% block js %}
<script src="/public/js/vendor/jquery.js"></script>
<script src="/public/js/vendor/what-input.js"></script>
<script src="/public/js/vendor/foundation.js"></script>
<script src="/public/js/app.js"></script>
<script src="/lib/layer/layer.js"></script>
{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
