<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Foundation for Sites{% endblock %}</title>
{% block css %}
<link rel="stylesheet" href="/home/css/foundation.css">
<link rel="stylesheet" href="/home/icons/foundation-icons.css">
<link rel="stylesheet" href="/home/css/app.css">
{% endblock %}
</head>
<body>
{% block main %}{% endblock %}
{% block js %}
<script src="/home/js/vendor/jquery.js"></script>
<script src="/home/js/vendor/what-input.js"></script>
<script src="/home/js/vendor/foundation.js"></script>
<script src="/home/js/app.js"></script>
<script src="/lib/layer/layer.js"></script>
{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
