<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>后台管理系统</title>
<link rel="stylesheet" href="/public/css/foundation.css">
<link rel="stylesheet" href="/public/icons/foundation-icons.css">
<link rel="stylesheet" href="/public/css/app.css">
<link rel="stylesheet" href="/admin/style.css">
</head>
<body>

<!--nav-->
<div class="top-bar" >
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">后台管理系统</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu text-align" data-dropdown-menu>
      <li class="is-action"><a>首页</a></li>      
      <li>
      <a>个人中心</a>
      <ul class="menu vertical">
            <li><a>修改密码</a></li>
            <li><a>退出</a></li>
          </ul>
      </li>
      <li>
      <a><img src="https://www.gravatar.com/avatar/09243e3df5e9b7f7f0e038b17764786f?s=30&d=mp&r=g"/></a>
      </li>
    </ul>
    
  </div>
</div>


  
  <div class="grid-x" style="min-height:550px;">
    <div class="cell large-2 medium-2" style="background-color:rgb(51, 51, 51);">
    <!--left margin-top:55px -->      
      <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li>
          <a href="#">网站文章</a>
          <ul class="menu vertical nested">
            <li><a href="{{ path('admin_category_index') }}">分类管理</a></li>
            <li><a href="{{ path('admin_article_index') }}">文章管理</a></li>           
          </ul>
        </li>       
        <li>
          <a href="#">话题设置</a>
          <ul class="menu vertical nested">
            <li><a href="{{ path('admin_topic_category_index') }}">分类管理</a></li>
            <li><a href="#">话题管理</a></li>           
          </ul>
        </li>   
        <li>
          <a href="#">图片专辑管理</a>
          <ul class="menu vertical nested">
            <li><a href="{{ path('admin_album_category_index') }}">分类管理</a></li>
            <li><a href="#">专辑管理</a></li>           
          </ul>
        </li>     
      </ul> 
    </div>
    <div class="cell large-10 medium-10 padding-left-1 margin-top-1">
       {% block breadcrumbs %}
       <!--right-->       
       <!--breadcrumbs-->              
       <div class="grid-x">
          <nav aria-label="You are here:" role="navigation">
              <ul class="breadcrumbs">
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Features</a></li>                    
                <li>
                  <span class="show-for-sr">Current: </span> Cloning
                </li>
              </ul>
          </nav>  
      </div>
      {% endblock %}
      {% block main %}{% endblock %}
    </div>
  </div>


<footer>
  <div class="callout primary ">
      <div class="text-center">          
          <p>
                      本站总访问量：0
            <i id="busuanzi_container_site_pv"><i id="busuanzi_value_site_pv"></i></i>次
          </p>
          <p>
            <span> Copyright ©<a href="/" rel="nofollow">Mash(Ma·sh).</a></span>
            <span> ICP备案:<a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/"> 京ICP备18022754号</a></span>
            <span> Powered by<a rel="nofollow" target="_blank" href="http://symfony.com/doc/current/index.html"> Symonfy4</a></span>
          </p>
        </div>
  </div>
</footer>



<script src="/public/js/vendor/jquery.js"></script>
<script src="/public/js/vendor/what-input.js"></script>
<script src="/public/js/vendor/foundation.js"></script>
<script src="/public/js/app.js"></script>
<script>
$(function(){
  $('.search').click(function(){
    $('#search').toggle();
  })
})
</script>
{% block script %}{% endblock %}
</body>
</html>
