<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Foundation for Sites</title>
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="icons/foundation-icons.css">
<link rel="stylesheet" href="css/app.css">
</head>
<body>

<!--nav-->
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">站点名称</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="is-action"><a>首页</a></li>
      <li>
        <a href="#">菜单一</a>
        <ul class="menu vertical">
          <li><a>子菜单一</a></li>
          <li><a>子菜单二</a></li>
        </ul>
      </li>
      <li>
        <a href="#">菜单二</a>
        <ul class="menu vertical">
          <li><a>子菜单二</a></li>
          <li><a>子菜单二</a></li>
        </ul>
      </li>
      <li><a>菜单三</a></li>
      <li class="margin-left-3"><a class="button">登录</a></li>
      <li class="margin-left-1 margin-right-2"><a class="button">注册</a></li>
    </ul>
    
  </div>
</div>

<!--main-->
<div class="grid-container margin-top-1">
    <div class="grid-x grid-margin-x">
      <!--left-->
      <div class="cell large-9">
          <div class="grid-x">
              <nav aria-label="You are here:" role="navigation">
                  <ul class="breadcrumbs">
                    <li><a href="#0">Home</a></li>
                    <li><a href="#0">Features</a></li>                    
                    <li>
                      <span class="show-for-sr">Current: </span> Cloning
                    </li>
                  </ul>
              </nav>  
          </div>
          <div class="grid-x">
            <div class="cell">
              <p class="lead text-center">这是文章标题</p>
                爽肤水水电费胜多负少啥的是是 
                爽肤水水电费胜多负少啥的是是 
                爽肤水水电费胜多负少啥的是是 
                爽肤水水电费胜多负少啥的是是 
                爽肤水水电费胜多负少啥的是是 
                爽肤水水电费胜多负少啥的是是 
                爽肤水水电费胜多负少啥的是是 
                爽肤水水电费胜多负少啥的是是 
                爽肤水水电费胜多负少啥的是是 
            </div>    
            <div class="cell margin-top-3">
                <a class="float-left"><i class="fi-arrow-left"></i> 上一篇</a>
                <a class="float-right">下一篇 <i class="fi-arrow-right"></i></a>
            </div>       
          </div>   
                 
      </div>    
      <!--right-->
      <div class="cell large-3">
        <div class="callout shadow">
          <form>
            <div class="cell">
              <label>用户名
                <input type="text" placeholder="请输入用户名">
              </label>
            </div>
            <div class="cell">
              <label>密码
                <input type="password" placeholder="请输入登录密码">
              </label>
            </div>
            <div class="cell">
              <button type="submit" class="button">登录</button>
            </div>
          </form>
        </div>

        <div class="callout shadow">
          <h6 >最新动态</h6>
          <ul class="list-circle">
            <li><a>这是标题</a></li>
            <li><a>这是标题</a></li>
            <li><a>这是标题</a></li>
          </ul>
        </div>

        <div class="callout shadow">
          <h6>热门信息</h6>
          <ul class="list-circle">
              <li><a>这是标题</a></li>
              <li><a>这是标题</a></li>
              <li><a>这是标题</a></li>
            </ul>
        </div>
        <div class="callout shadow">
            <h6>友情链接</h6>
            <ul class="list-circle">
                <li><a>这是标题</a></li>
                <li><a>这是标题</a></li>
                <li><a>这是标题</a></li>
              </ul>
          </div>
      </div>
    </div>  
</div>
<footer>
  <div class="callout primary ">
      <div class="text-center">          
          <p>
                      本站总访问量：0
            <i id="busuanzi_container_site_pv"><i id="busuanzi_value_site_pv"></i></i>次
          </p>
          <p>
            <span> Copyright ©<a href="/" rel="nofollow">Mash(Ma·sh).</a></span>
            <span> ICP备案:<a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/"> 京ICP备18022754号</a></span>
            <span> Powered by<a rel="nofollow" target="_blank" href="http://symfony.com/doc/current/index.html"> Symonfy4</a></span>
          </p>
        </div>
  </div>
</footer>




<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>

</body>
</html>
