@charset "utf-8";
/* 你自己的样式 */
.page{text-align: center;font-size: 0; margin-top: 20px;}
span.page,span.last,span.next,span.previous,span.first{
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
    line-height:30px;
}
span.current{
    font-size: 16px;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #666;
    margin:0 5px;
    line-height:30px;
    padding: 1px 10px;
    background: #dedede;
}
span.last,span.next,span.previous,span.first{
    padding: 1px 10px;
}


